body {
  font-family: 'Graphik';
}

.sidenav {
  border: red solid;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  border: red solid;
  margin-top: 60px;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px;    /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.navbar {
  border: red solid;
  overflow: hidden;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.newNotes {
  position: fixed;
  width: 56px;
  height: 56px;
  background-color: red;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  margin: 16px;
  bottom: 0;
  right: 0;
}

.taskList {
  border: red solid;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px;    /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.taskList button {
  margin-bottom: 10px;
}

.taskList ul {
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 64px; bottom: 24px;
  width: 400px;
  height: 200px;
  padding: 5px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}